/* the inside chatbot scrollbar */

div#chatbot::-webkit-scrollbar {
  width: 10px;
  background-color: none;
}

div#chatbot::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: none;
  border-radius: 10px;
}

div#chatbot::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(162, 198, 246)), color-stop(0.72, rgb(162, 198, 246)), color-stop(0.86, rgb(162, 198, 246)));
}

div.fade.modal.show::-webkit-scrollbar {
  background-color: white;
}

/* chatbot button  */

button.chatbot-button.btn.btn-primary {
  position: relative;
  bottom: 27%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* banner area */

div.banner-page {
  margin: 2%;
  position: absolute;
  top: -1%;
  float: left;
  left: 2%;
}

/**************** Modal area *************/

div.fade.modal.show {
  background-color: white;
  min-height: 610px;
  margin-top: 2%;
}

div.modal-dialog {
  max-width: 100%;
}

div.modal-content {
  background-color: white;
  padding: 0px !important;
  border: none !important;
}

@media only screen and (min-width: 320px) and (max-width: 375px) {
  button.chatbot-button.btn.btn-primary {
    left: 454px;
  }
}

@media only screen and (min-width: 376px) and (max-width: 425px) {
  button.chatbot-button.btn.btn-primary {
    left: 455px;
  }
  div.fade.modal.show {
    /* background-color: red; */
  }
}

@media only screen and (min-width: 377px) and (max-width: 768px) {
  button.chatbot-button.btn.btn-primary {
    left: 460px;
  }
  div.fade.modal.show {
    max-width: 500px;
    /* background-color: orange; */
    padding-right: 2%;
    max-height: 640px;
  }
  div.banner-page {
    top: -1%;
    left: 2%;
  }
}

@media only screen and (min-width: 767px) and (max-width:1024px) {
  button.chatbot-button.btn.btn-primary {
    left: 465px;
  }

  div.banner-page {
    top: -1%;
    left: 2%;
  }

  div.fade.modal.show {
    max-width: 500px;
    /* background-color: blue; */
    padding-right: 0.5%;
    max-height: 640px;
  }
}

@media only screen and (min-width:1025px) {
  button.chatbot-button.btn.btn-primary {
    left: 470px;
  }
  div.fade.modal.show {
    max-width: 500px;
    /* background-color: green; */
    padding-right: 0.5%;
    max-height: 640px;
  }
}