/* the inside chatbot scrollbar */
 

div#chatbot::-webkit-scrollbar {
  width: 10px;
  background-color: none;
}

div.fade.modal.show::-webkit-scrollbar {
  background-color: white;
}

.modal {
  /* padding-right: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px; */
  padding: 0px !important; 
}

.modal-content {
  background-color: white;
  border: none;
  /* padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px; */
  padding: 0px !important; 
}

div#chatbot::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: none;
  border-radius: 10px;
}

div#chatbot::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(162, 198, 246)), color-stop(0.72, rgb(162, 198, 246)), color-stop(0.86, rgb(162, 198, 246)));
}

div.fade.modal.show {
  margin: 0;
  display: none;
  position: fixed;
  left: 39%;
  right: 0;
  top: 6%;
  background-color: white;
  max-height: 70%;
  max-width: 400px;
  min-width: 200px;
  height: 70%;
  margin: auto;
  overflow-y: auto;
  border-radius: 2px;
  will-change: top, opacity;
  padding: 0%;
}

.modal-backdrop {
  
  width: 100%;
  height: 100%; 
  
}
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin-bottom: 0px;
    /* margin: none !important; */
  }
}

/* chatbot button  */

button.chatbot-button.btn.btn-primary {
  position: relative;
  bottom: 27%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 320px) and (max-width: 375px) {
  button.chatbot-button.btn.btn-primary {
    left: 454px;
  }
}

@media only screen and (min-width: 376px) and (max-width: 425px) {
  button.chatbot-button.btn.btn-primary {
    left: 455px;
  }
}

@media only screen and (min-width: 377px) and (max-width: 768px) {
  button.chatbot-button.btn.btn-primary {
    left: 460px;
  }
}

@media only screen and (min-width: 767px) and (max-width:1024px) {
  button.chatbot-button.btn.btn-primary {
    left: 465px;
  }
}

@media only screen and (min-width:1025px) and (max-width:1440px) {
  button.chatbot-button.btn.btn-primary {
    left: 470px;
  }
}